.pixi/
__pycache__/
*.py[cod]
.pytest_cache/
.vscode/

# Other generated outputs
cache/
results/
data/signal_cache/
data/cluster_maps/

*.egg-info/
# pixi environments
.pixi/*
!.pixi/config.toml

#dev_experiments
scripts/experiments/dev*
config/dev*

old/

logs/